<div class="p-grid p-justify-center card">
    <!--Grip com conteúdo centralizado-->
    <div class="p-col-10 p-sm-6 p-md-4">
        <!--10 colunas, telas medias 6 colunas, telas menores 4colunas-->
        <p-card>
            <div class="p-grid">
                <div class="p-col-12 text-center">
                    <i class="fas fa-tools fa-4x"></i>
                    <h1>Página em manutenção</h1>
                    <h2>Retornaremos em breve.</h2>
                    <br/>
                    <br/>
                    <br/>
                    <h4>Developed by Victor Figueiredo.</h4>
                </div>
            </div>
        </p-card>
    </div>
</div>